@import "tailwindcss";

:root {
  @theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  :root {
    --background: #ffffff;
    --foreground: #09090b;
    /* zinc-950 */
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #18181b;
    /* zinc-900 */
    --primary-foreground: #fafafa;
    /* zinc-50 */
    --secondary: #f4f4f5;
    /* zinc-100 */
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    /* zinc-500 */
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    /* zinc-200 */
    --input: #e4e4e7;
    --ring: #18181b;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

body {
  background: var(--background);
  background-image: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  background-image: radial-gradient(circle at top left, #f0fdf4, transparent 40%), radial-gradient(circle at bottom right, #ecfccb, transparent 40%);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}


}